append styles 
  // Custom styles for this template
  link(href='../stylesheets/jumbotron.css', rel='stylesheet')
  link(href='../stylesheets/style.css', rel='stylesheet')

.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li(role='presentation')
        a(href='/') Home
      li(role='presentation')
        a(href='/feeds') RSS Feeds
      li(role='presentation')
        a(href='#') Articles
    h3.text-muted node-api