extends ../node_modules/jade-bootstrap/_bootstrap
doctype html
html
  head
    title My title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    #header
    #content
      block content